.main{
    background-image: url(../img/background.jpg);
    display: flex;
    flex-direction: column; 
    align-items: center;
    background-position: center;    
    background-attachment: fixed;
}

.title{
    color: white;
    font-family: Ovo, serif;
    display: flex;
    font-size: 24px;
    align-items: center;
    justify-content: center;
    margin-top: 20px; 
    text-shadow: 
        1px 1px 0 black, 
        -1px 1px 0 black, 
        1px -1px 0 black, 
        -1px -1px 0 black; 
}

.block{
    height: 8000px;
    width: 1400px;
    background-color: rgba(106, 105, 106, 0.977);
    border: 3px black solid;
    margin-top: 20px; 
    border-radius: 15px;
    box-shadow: 0 0 50px gray;
}

.descr{
    height: 300px;
    width: 1300px;
    font-size: 24px;
    margin-top: 40px;
    margin-left: 40px;
    display: flex;  
    gap: 20px;
    color: aliceblue;
}

.descr label {
    max-height: 100%; 
    max-width: 200px;
    box-shadow: 0 0 10px gray;
    transition: transform 0.7s ease;
    cursor: pointer;
}

.descr label:hover{
    transform: scale(1.7);
    box-shadow: 0 0 50px black;
}

.descr input[type="checkbox"] {
    display: none;
}

#imageClick:checked ~ label:hover {
    transform: none; 
}

#imageClick:checked ~ label {
    position: fixed;
    top: 3%;
    left: 36%;
    max-width: 28vw; 
    max-height: 28vh; 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    z-index: 101;
    cursor: pointer;
}

.overlay {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 100; 
    opacity: 0; 
    pointer-events: none;
}


#imageClick:checked ~ .overlay {
    opacity: 1; 
    pointer-events: all; 
}



.about{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    border-radius: 10px;
    font-size: 24px;
    background-color: #1d1a1ab9;
    color:rgb(230, 226, 252);
    padding: 5px;
}

.about p{
    margin: 10px;
    font-family: Ovo, serif;
}

.awards{
    margin-top: 50px;
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
    color: aliceblue;
    font-size: 20px;
    justify-content: space-between;
    background-color: rgb(79, 79, 79, 0.977);
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 15px;
    font-family: sans-serif;
}

.awards img{
    max-width: 250px; 
    max-height: 350px; 
    box-shadow: 0 0 10px gray;
    transition: transform 0.7s ease;
    flex-shrink: 0;
    align-self: center;
}

.awards div{
    flex-basis: 90%;
    margin-right: 20px;
}

.awards img:hover{
    transform: scale(1.7);
    box-shadow: 0 0 50px black;
}

* {box-sizing: border-box;}
body {
	font-family: sans-serif;
	margin: 20px;
}

.slider { 
  position: relative;
	text-align: center;
  top: 10px;
	max-width: 1200px; 
	margin: 0 auto;
}

.slides .slide{ /*все изображения справа друг от доруга*/
	width: 25%;
	float: left;
}

.slides .slider-inner{
	width: 400%;
}
.overflow{ 
	width: 100%;
	overflow: hidden;
}

.slide img{
    width: 350px; 
    height: 450px; 
}

 img{ 
	width: 100%;
}
 
.slide h2 {
	margin-top: 0px;
    padding-top: 5px;
	position: relative;
    color: aliceblue;
    border-radius: 15px;
}

.slide div{
    background-color: rgba(84, 81, 81, 0.749);
    border-radius: 15px;
    padding: 5px;
}

.slide li{
    color: white;
    text-align: left;
    font-size: 24px;
}


.arrows label {
	height: 40px;
	width: 40px;
}
/*настройка переключения и положения для левой стрелки*/
#switch1:checked ~ .arrows label:nth-child(4), 
#switch2:checked ~ .arrows label:nth-child(1),
#switch3:checked ~ .arrows label:nth-child(2),
#switch4:checked ~ .arrows label:nth-child(3){
	background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='40' fill='lightgrey'%3E%3Cpath d='M41.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.3 256 246.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160zm352-160l-160 160c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L301.3 256 438.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0z'/%3E%3C/svg%3E") center/cover no-repeat; 
	float: left;
	margin: -330px 0 0 40px;
	display: block;
}

/*настройка переключения и положения для правой стрелки*/
#switch1:checked ~ .arrows label:nth-child(2),
#switch2:checked ~ .arrows label:nth-child(3),
#switch3:checked ~ .arrows label:nth-child(4),
#switch4:checked ~ .arrows label:nth-child(1) {
	background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='40' fill='lightgrey'%3E%3Cpath d='M470.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L402.7 256 265.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160zm-352 160l160-160c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L210.7 256 73.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0z'/%3E%3C/svg%3E") no-repeat center/cover; 
	float: right;
	margin: -330px 40px 0 0; 
	display: block;
}

label, a{ 
	cursor: pointer;
}
/*скрываетвсе radio-input*/
input[type="radio"]{ 
	display: none;
}

#switch1:checked ~ .slides .slider-inner{
	margin-left: 0;
}

#switch2:checked ~ .slides .slider-inner{
	margin-left: -100%;
}

#switch3:checked ~ .slides .slider-inner{
	margin-left: -200%;
}

#switch4:checked ~ .slides .slider-inner{
	margin-left: -300%;
}

.arrows{ 
	margin: -29% 0 0 0;
	width: 100%;
	height: 50px;
}

.dots label{
	border-radius: 10px;
	display: inline-block; 
	width: 15px;
	height: 15px;
	background: #bbb;
}

.dots{  
	text-align: center;
}

.dots label:hover{ 
	background: #6d7174;
	border-color: #777 !important;
}

#switch1:checked ~ .dots label:nth-child(1),
#switch2:checked ~ .dots label:nth-child(2),
#switch3:checked ~ .dots label:nth-child(3),
#switch4:checked ~ .dots label:nth-child(4){
	background: #141414;
	border-color: #fbfbfb !important;
}

.slides .slider-inner{ 
	transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

.arrows label:hover{ 
	opacity: 0.6;
}

.arrows label{
	transition: opacity 0.2s ease-out;
}

@media (max-width: 480px) {
	.arrows label {
		width: 25px;
		height: 25px;
	}
	.slide h2 {
		font-size: 1.2em;
		padding: 6px 0;
	}
	.dots {
		margin-top: 16%;
	}
	.dots label {
		width: 10px;
		height: 10px;
	}
}

.printed{
    height: 1000px;
}

.printed h1{
    font-size: 40px;
    padding-left: 40px;
    color: aliceblue;
}

.printed p{
    font-size: 24px;
    font-family: Ovo, serif;
    color: white;
}

.anime{
    margin-top: 50px;
    margin-left: 40px;
    margin-right: 40px;
    color: aliceblue;
    font-size: 20px;
    background-color: rgb(79, 79, 79, 0.977);
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 15px;
    font-family: sans-serif;
}

.animeImage{
    display: flex;
    justify-content: space-between;
}

.anime img{
    max-width: 250px; 
    max-height: 350px; 
    box-shadow: 0 0 10px gray;
    transition: transform 0.7s ease;
    flex-shrink: 0;
    align-self: center;
}

.anime div{
    flex-basis: 90%;
    margin-right: 20px;
}

.anime img:hover{
    transform: scale(1.7);
    box-shadow: 0 0 50px black;
}

.trailer{
    text-align: center;
}

.trailer iframe:first-child{
    margin-right: 50px; 
}

.trailerContainer{
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.text{
    display: flex;
    margin-top: -15px;
}

.text p:first-child{
    margin-right: 450px;
}

.game{
    padding-top: 1px;
    margin-top: 50px;
    margin-left: 40px;
    margin-right: 40px;
    color: aliceblue;
    font-size: 20px;
    background-color: rgb(79, 79, 79, 0.977);
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 15px;
    font-family: sans-serif;
}

.aboutGame{
    margin-top: 10px;
    border-radius: 10px;
    font-size: 24px;
    background-color: #1d1a1ab9;
    color:rgb(230, 226, 252);
    padding: 1px;
    padding-left: 20px;
}

.gameDesc {
    display: flex;
}

.game img{
    max-width: 250px; 
    max-height: 350px; 
    transition: transform 0.7s ease;
    flex-shrink: 0;
    align-self: center;
}

.game img:hover{
    transform: scale(1.7);
}